#### Pandas la libreria para visualización de datos

In [1]:
import pandas as pd

##### Cargamos una base de datos creado en escel con extencion csv

In [2]:
df= pd.read_csv('datos2008.csv',nrows=100000)#nrows fija las filas a leer

In [5]:
df.head(6) #Muestra las primeras 5 filas de nuestro objeto df por defecto, se puede modificiar

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [6]:
df.tail()#muestra las ultimas 5 filas de nuestro objeto df

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
99995,2008,1,25,5,2204.0,1935,106.0,2257,XE,7676,...,4.0,17.0,0,NaN,0,0.0,0.0,0.0,0.0,129.0
99996,2008,1,26,6,1933.0,1935,2234.0,2257,XE,7676,...,4.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99997,2008,1,27,7,2047.0,1935,2400.0,2257,XE,7676,...,6.0,18.0,0,NaN,0,23.0,0.0,0.0,0.0,40.0
99998,2008,1,28,1,1956.0,1935,2308.0,2257,XE,7676,...,5.0,25.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99999,2008,1,29,2,1938.0,1935,2308.0,2257,XE,7676,...,5.0,41.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

###### Reordenar la bd

In [7]:
df=df.sample(frac=1) #frac=1 signific que queremos el 100% de las filas que tenemos

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
88755,2008,1,30,3,1618.0,1615,1746.0,1745,WN,114,...,5.0,5.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
8487,2008,1,5,6,1230.0,1235,1324.0,1335,WN,1489,...,3.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
93032,2008,1,31,4,NaN,855,NaN,1000,WN,2635,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
45432,2008,1,17,4,1343.0,1335,1620.0,1620,WN,1251,...,3.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
32084,2008,1,13,7,1015.0,1015,1108.0,1120,WN,381,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47354,2008,1,17,4,706.0,710,821.0,840,WN,1504,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
91893,2008,1,31,4,NaN,2025,NaN,2115,WN,1449,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
50248,2008,1,18,5,1027.0,1025,1228.0,1235,WN,407,...,7.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
16446,2008,1,8,2,1538.0,1535,1822.0,1825,WN,538,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
73569,2008,1,25,5,2130.0,2120,2235.0,2230,WN,42,...,4.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

#### Ver las columnas de nuestro objeto

In [8]:
df.columns #no se pone parentesisis porque es uno de los atributos del df, se pone parentesis cuando son funciones

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

Explorar tipos de variables en el df

In [9]:
df.dtypes #muestra los tipos de datos de nuestro objeto df

Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime         int64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object

In [10]:
df. values #devuelve un array de los valores de nuestro objeto df

array([[2008, 1, 3, ..., nan, nan, nan],
       [2008, 1, 3, ..., nan, nan, nan],
       [2008, 1, 3, ..., nan, nan, nan],
       ...,
       [2008, 1, 27, ..., 0.0, 0.0, 40.0],
       [2008, 1, 28, ..., nan, nan, nan],
       [2008, 1, 29, ..., nan, nan, nan]], dtype=object)